* {
  box-sizing: border-box;
}

:root {
  --primary-color: #212832;
  --secondary-color: #7264d6;
  --text-color: #696d76;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem;
}

/* Common */
a {
  text-decoration: none;
}

input,
textarea,
select,
button {
  font-size: inherit;
  font-family: inherit;
}

section + section {
  margin-top: 160px;
}

.container {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin: 0 auto;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 113px;
  height: 58px;
  border-radius: 8px;
  color: #fff;
  background-color: var(--primary-color);
  transition: 0.25s;
  font-weight: 600;
  font-size: 1.6rem;
}

.btn:hover {
  cursor: pointer;
  opacity: 0.9;
}

.section-label {
  display: flex;
  align-items: center;
  gap: 12px;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.75;
  color: #696d77;
}

.section-label::before {
  content: "";
  display: inline-block;
  width: 18px;
  height: 2px;
  background-color: #696d77;
}

.section-heading {
  color: var(--primary-color);
  margin-top: 12px;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.25;
}

.section-desc {
  margin-top: 20px;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 1.7;
  color: var(--text-color);
}

/* Header */
.header {
  margin-top: 34px;
  padding: 8px 0;
}

.header__body {
  display: flex;
  align-items: center;
}

.navbar {
  margin-left: 46px;
}

.navbar__list {
  display: flex;
}

.navbar__item {
  padding: 0 24px;
}

.navbar__link {
  position: relative;
  padding: 8px 0;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.75;
  color: var(--text-color);
  transition: 0.25s;
}

.navbar__link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  display: inline-block;
  width: 0;
  height: 1px;
  border-radius: 0.5px;
  background-color: #7264d6;
  transition: 0.25s;
}

.navbar__link:hover {
  color: #212832;
  text-shadow: 1px 0 0 currentColor;
}

.navbar__link:hover::after {
  width: 100%;
}

.header__actions {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.header__login {
  margin-right: 24px;
  padding: 4px;
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 1.75;
  color: var(--primary-color);
}

.header__login:hover {
  text-decoration: underline;
}

.header__signup {
  height: 52px;
  border-radius: 6px;
}

/* Hero */
.hero {
  margin-top: 68px;
}

.hero__body {
  display: flex;
  align-items: center;
}

.hero__content {
  width: 46%;
}

.hero__title {
  margin-top: 12px;
  font-weight: 700;
  font-size: 6rem;
  line-height: 1.17;
  color: var(--primary-color);
}

.hero__highlight {
  color: var(--secondary-color);
}

.hero__form {
  margin-top: 40px;
  display: flex;
  align-items: center;
  height: 74px;
  box-shadow: 0px 16px 42px 0px #00000012;
  border-radius: 8px;
}

.hero__input {
  padding: 0 23px;
  flex: 1;
  height: 100%;
  border: none;
  outline: none;
  border-radius: inherit;
}

.hero__input::placeholder {
  font-weight: 400;
  line-height: 1.75;
  color: var(--text-color);
}

.hero__submit {
  margin-right: 8px;
  min-width: 150px;
  border-radius: inherit;
  background-color: var(--secondary-color);
  border: none;
  outline: none;
}

.hero__submit:hover {
  cursor: pointer;
  opacity: 0.9;
}

.hero__note {
  margin-top: 20px;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 1.7;
  color: var(--text-color);
}

.hero__media {
  margin-left: auto;
  display: flex;
}

.hero__mobile {
  position: relative;
  padding: 40px 10px 30px;
  width: 296px;
  height: 562px;
  border: 12px solid var(--primary-color);
  border-radius: 40px;
}

.hero__mobile::after {
  position: absolute;
  top: -12px;
  left: 50%;
  transform: translateX(-50%);
  content: "";
  display: inline-block;
  width: 144px;
  height: 36px;
  background-color: #3c2f60;
  border-radius: 0px 0px 18px 18px;
}

.card {
  position: relative;
  padding: 16px;
  width: 250px;
  height: 150px;
  border-radius: 20px;
  background: linear-gradient(76.13deg, #8679e4 11.52%, #7264d6 70.78%);
  overflow: hidden;
}

.card__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card__header,
.card__info,
.card__available {
  position: relative;
  z-index: 1;
}

.card__title {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1;
  color: #fff;
}

.card__circles {
  display: flex;
}

.card__circle {
  width: 24px;
  height: 24px;
  background-color: #feef65;
  border-radius: 50%;
}

.card__circle:nth-child(1) {
  margin-right: -5px;
  background-color: #fe6565;
}

.card__available {
  margin-top: 2px;
  font-weight: 700;
  font-size: 2.2rem;
  line-height: 1;
  color: #fff;
}

.card__info {
  margin-top: 38px;
  display: flex;
  gap: 12px;
}

.card__info-label {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1;
  color: #fff;
}

.card__info-value {
  display: block;
  margin-top: 5px;
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 1;
  color: #fff;
}

.card__decor {
  position: absolute;
}

.card__decor-top {
  top: 0;
  left: 0;
}

.card__decor-bottom {
  right: 0;
  bottom: 0;
}

.transactions {
  margin-top: 24px;
}

.transactions__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.transactions__heading {
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 1;
  color: #31456a;
}

.transactions__item {
  margin-top: 28px;
  display: flex;
  align-items: center;
}

.transactions__img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 8px;
  background-color: #edf8fc;
}

.transactions__item:nth-child(2) .transactions__img {
  background-color: #fbefef;
}

.transactions__item:nth-child(3) .transactions__img {
  background-color: #ecf5f4;
}

.transactions__item:nth-child(4) .transactions__img {
  background-color: #f1effb;
}

.transactions__icon {
  display: block;
}

.transactions__body {
  flex: 1;
  margin-left: 14px;
}

.transactions__row {
  display: flex;
  justify-content: space-between;
}

.transactions__row + .transactions__row {
  margin-top: 5px;
}

.transactions__title,
.transactions__transfer {
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 1;
  color: var(--primary-color);
}

.transactions__desc,
.transactions__time {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1;
  color: var(--text-color);
}

.interest {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 127px 0 0 44px;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background-color: #da6464;
}

.interest__percent {
  font-weight: 600;
  font-size: 4.4rem;
  line-height: 1;
  color: #fff;
}

.interest__text {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1;
  color: #fff;
}

.hero__decor {
  position: absolute;
  z-index: 1;
}

.hero__deposit {
  top: 101px;
  left: -112px;
  width: 174px;
  height: 46px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  box-shadow: 0px 10px 20px 0px #00000012;
  background-color: #fff;
}

.hero__deposit-text {
  margin-left: 8px;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 1;
  color: #31456a;
}

.hero__deposit-money {
  margin-left: 19px;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1;
  color: #4ab5e3;
}

.hero__secured {
  bottom: 57px;
  right: -87px;
  width: 124px;
  height: 68px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 11px;
  background-color: #439f90;
  border-radius: 10px;
}

.hero__secured-money {
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 1;
  color: #fff;
}

.hero__secured-text {
  margin-top: 5px;
  font-weight: 400;
  font-size: 0.8rem;
  line-height: 1;
  color: #fff;
}

/* How It Works */
.how-it-works__body {
  display: flex;
  align-items: center;
}

.how-it-works__figure,
.how-it-works__content {
  width: 470px;
}

.how-it-works__figure {
  flex-shrink: 0;
  position: relative;
  display: flex;
  justify-content: center;
  width: 470px;
}

.how-it-works__figure::before {
  content: url(../imgs/how-it-work-bg.svg);
  display: block;
  position: absolute;
  left: 0;
  bottom: -4px;
}

.how-it-works__img {
  position: relative;
  z-index: 1;
  display: block;
  width: 456px;
  height: 619px;
  object-fit: cover;
}

.how-it-works__content {
  margin-left: auto;
}

.how-it-works__list {
  margin-top: 70px;
}

.how-it-works__item {
  margin-top: 30px;
}

.how-it-works__title {
  color: var(--primary-color);
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 1.46;
}

.how-it-works__desc {
  color: var(--text-color);
  margin-top: 16px;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.75;
}

.how-it-works__decor {
  position: absolute;
  z-index: 1;
}

.how-it-works__decor--top {
  top: 76px;
  right: 62px;
}

.how-it-works__decor--bottom {
  bottom: 96px;
  right: -100px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 226px;
  height: 70px;
  border-radius: 8px;
  background: #fffdfa;
  box-shadow: 0 14px 34px 0 rgba(0, 0, 0, 0.07);
}

.how-it-works__congratulations {
  margin-left: 10px;
  font-family: Inter, sans-serif;
}

.how-it-works__congratulations-title {
  color: var(--primary-color);
  font-size: 1.4rem;
  font-weight: 600;
}

.how-it-works__congratulations-text {
  color: var(--text-color);
  margin-top: 8px;
  font-size: 1.2rem;
  font-weight: 400;
}

/* Feature */
.feature__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.feature__col--content {
  width: 470px;
  flex-shrink: 0;
}

.feature__list {
  margin-top: 28px;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.feature__item {
  display: flex;
  align-items: center;
  gap: 12px;
  color: var(--primary-color);
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67;
}

.feature__item::before {
  content: "";
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #7264d6;
}

.feature__btn {
  margin-top: 38px;
  width: 150px;
}

.feature__col--media {
  position: relative;
  margin-left: auto;
  padding-right: 88px;
}

.feature__card {
  padding: 38px;
  width: 482px;
  height: 322px;
}

.feature__card .card__title {
  font-size: 2.4rem;
}

.feature__card .card__available {
  margin-top: 10px;
  font-size: 3.2rem;
}

.feature__card .card__circle {
  width: 48px;
  height: 48px;
}

.feature__card .card__circle:nth-child(1) {
  margin-right: -10px;
}

.feature__card .card__info {
  gap: 28px;
  margin-top: 98px;
}

.feature__card .card__info-label {
  font-size: 2rem;
}

.feature__card .card__info-value {
  margin-top: 10px;
  font-size: 2.2rem;
}

.feature__card-decor {
  position: absolute;
  z-index: 2;
}

.feature__send {
  top: -48px;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 13px;
  width: 276px;
  height: 86px;
  border-radius: 12px;
  background-color: #fff;
  box-shadow: 0px 14px 38px 0px #00000012;
}

.feature__send-figure {
  margin-right: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 8px;
  background: rgba(218, 100, 100, 0.1);
  box-shadow: -4px -2px 16px 0 #fff, 4px 2px 16px 0 rgba(136, 165, 191, 0.48);
  font-family: Inter, sans-serif;
}

.feature__send-content {
  flex: 1;
}

.feature__send-info,
.feature__send-detail {
  display: flex;
  justify-content: space-between;
}

.feature__send-detail {
  margin-top: 4px;
}

.feature__send-title {
  color: var(--primary-color);
  font-size: 1.2rem;
  font-weight: 500;
}

.feature__send-amount {
  color: var(--primary-color);
  font-size: 1.6rem;
  font-weight: 400;
}

.feature__send-description,
.feature__send-date {
  color: var(--text-color);
  font-size: 1rem;
  font-weight: 400;
}

.feature__income {
  right: 0;
  bottom: -48px;
  padding: 14px;
  width: 120px;
  height: 120px;
  border-radius: 16px;
  background-color: #439f90;
}

.feature__income-figure {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 8px;
  background-color: #fff;
}

.feature__income-title {
  margin-top: 14px;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1;
  color: #fff;
}

.feature__income-amount {
  margin-top: 8px;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 1;
  color: #fff;
}

.feature__figure {
  position: relative;
  width: 470px;
  display: flex;
  justify-content: center;
}

.feature__figure::after {
  position: absolute;
  left: 0;
  bottom: -4px;
  content: url(../imgs/feature-bg.png);
}

.feature__img {
  position: relative;
  z-index: 1;
  display: block;
  width: 413px;
  height: 600px;
  object-fit: cover;
}

.feature__col--thumb {
  position: relative;
}

.feature__payment-methods {
  position: absolute;
  z-index: 1;
  bottom: 57px;
  right: -74px;
  padding: 28px;
  width: 281px;
  height: 220px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0px 44px 48px 0px #0000001a;
}

.feature__payment-methods-title {
  color: var(--primary-color);
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 1.67;
}

.feature__payment-methods-group {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 18px;
}

.feature__payment-methods-item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 48px;
  border-radius: 4px;
  background-color: #f2f2fa;
}

.feature__payment-methods-item:last-child {
  background-color: #f9ea63;
}

.feature__decor-money {
  position: absolute;
  z-index: 1;
  right: -100px;
  bottom: 222px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background-color: #7264d6;
  box-shadow: 0px 15px 40px 0px #0000001a;
}

/* Testimonial */
.testimonial__header {
  text-align: center;
}

.testimonial__label {
  justify-content: center;
}

.testimonial__desc {
  margin: 18px auto 0;
  width: 435px;
  font-size: 1.6rem;
}

.testimonial__list {
  margin-top: 70px;
  display: flex;
  column-gap: 30px;
  overflow: hidden;
}

.testimonial__item {
  flex-shrink: 0;
  width: 570px;
  text-align: center;
}

.testimonial__text {
  position: relative;
  margin-bottom: 44px;
  padding: 42px 28px;
  color: #696d76;
  font-size: 2.2rem;
  font-style: italic;
  font-weight: 400;
  line-height: 1.55;
  border: 1px solid #dfe2e8;
  border-radius: 8px;
  background-color: #fff;
  transition: 0.5s;
}

.testimonial__text:hover {
  filter: drop-shadow(0 22px 54px rgba(0, 0, 0, 0.07));
  border-color: transparent;
}

.testimonial__text:hover::after {
  border-color: transparent;
}

.testimonial__text::after {
  position: absolute;
  bottom: -31px;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
  content: "";
  height: 60px;
  width: 60px;
  background-color: #fff;
  border: 1px solid;
  border-color: transparent #dfe2e8 #dfe2e8 transparent;
  transition: 0.5s;
}

.testimonial__author {
  padding-top: 36px;
}

.testimonial__avatar-wrap {
  margin: 0 auto;
  width: 104px;
  height: 104px;
  border-radius: 50%;
  background: var(--bg-color, #4ab5e3);
  overflow: hidden;
}

.testimonial__avatar {
  margin-top: 5px;
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.testimonial__name {
  margin-top: 20px;
  color: #070052;
  font-size: 2.6rem;
  font-weight: 600;
  line-height: 1.38;
}

.testimonial__role {
  margin-top: 2px;
  color: var(--text-color);
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.67;
}

.testimonial__pagination {
  margin-top: 38px;
  display: flex;
  justify-content: center;
  gap: 12px;
}

.testimonial__dot {
  width: 22px;
  height: 6px;
  border-radius: 1px;
  border: 1px solid #9b9fab;
  background-color: transparent;
  cursor: pointer;
}

.testimonial__dot--active,
.testimonial__dot:hover {
  border-color: transparent;
  background-color: #7264d6;
}

/* Blog */
.blog__header {
  display: flex;
  align-items: center;
}

.blog__header-content {
  width: 435px;
  flex-shrink: 0;
}

.blog__heading {
  margin-top: 6px;
}

.blog__desc {
  margin-top: 18px;
  font-size: 1.6rem;
  line-height: 1.75;
}

.blog__read-all {
  margin-left: auto;
  min-width: 123px;
}

.blog__list {
  margin-top: 70px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

.blog__item {
  padding: 28px;
  display: flex;
  align-items: center;
  gap: 22px;
  border-radius: 12px;
  background: #fff;
  border: 1px solid #dfe2e8;
  transition: 0.5s;
}

.blog__item:hover {
  border-color: transparent;
  box-shadow: 0 20px 50px 0 rgba(0, 0, 0, 0.07);
}

.blog__figure {
  flex-shrink: 0;
  width: 160px;
  height: 160px;
  border-radius: 12px;
  overflow: hidden;
}

.blog__img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.blog__created-at {
  color: var(--text-color);
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.71;
}

.blog__title {
  margin-top: 10px;
  display: inline-block;
  color: var(--primary-color);
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67;
}

.blog__read {
  margin-top: 20px;
  display: inline-block;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.625;
  color: var(--text-color);
}

.blog__read:hover {
  color: #7264d6;
}

/* App */
.app__body {
  position: relative;
  padding: 100px 0;
  border-radius: 24px;
  background: #7264d6;
  text-align: center;
}

.app__label,
.app__heading,
.app__desc {
  color: #fff;
}

.app__label {
  justify-content: center;
}

.app__label::before {
  background: #fff;
}

.app__desc {
  width: 435px;
  margin: 18px auto 0;
  font-size: 1.6rem;
  line-height: 1.75;
}

.app__group {
  margin-top: 38px;
  display: flex;
  justify-content: center;
  gap: 16px;
}

.app__item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 182px;
  height: 64px;
  border-radius: 6px;
  background-color: #fff;
}

.app__decor {
  position: absolute;
}

.app__decor:nth-child(1) {
  top: 50px;
  left: 112px;
}

.app__decor:nth-child(2) {
  top: 50px;
  right: 112px;
}

.app__decor:nth-child(3) {
  bottom: 50px;
  left: 166px;
}

.app__decor:nth-child(4) {
  bottom: 50px;
  right: 166px;
}
